<div class="flex flex-col min-h-[100vh]">
  <!-- Display API error -->
  <div class="absolute w-full top-60">
    <app-global-error></app-global-error>
  </div>
  <!-- Display spinner loading -->
  <div
    *ngIf="loaderService.isLoading | async"
    class="flex w-full h-full justify-center items-center absolute"
  >
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <!-- Content -->
  <section class="bg-swDetails bg-cover bg-center w-full min-h-[100vh] pt-12">
    <h1
      *ngIf="planet"
      class="text-center text-5xl font-bold px-4 my-8 text-[#030024]"
    >
      The planet <strong class="text-white">{{ planet.name }}</strong>
    </h1>
    <article
      *ngIf="planet"
      class="flex-1 w-min mx-auto p-4 border-2 border-yellow-500 rounded-lg text-slate-300 bg-[#030024]"
    >
      <h2 class="text-center text-1xl font-bold">Basic Information</h2>
      <ul class="flex flex-col gap-2 w-72">
        <li class="list-style">
          Diamenter:
          <strong class="text-style">{{ planet.diameter }}</strong>
        </li>
        <li class="list-style">
          Climate:
          <strong class="text-style">{{ planet.climate }}</strong>
        </li>
        <li class="list-style">
          Gravity:
          <strong class="text-style">{{ planet.gravity }}</strong>
        </li>
        <li class="list-style">
          Terrain:
          <strong class="text-style">{{ planet.terrain }}</strong>
        </li>
        <li class="list-style">
          Surface Water:
          <strong class="text-style">{{ planet.surface_water }}</strong>
        </li>
        <li class="list-style">
          Population:
          <strong class="text-style">{{ planet.population }}</strong>
        </li>
        <li class="list-style">
          Orbital Period:
          <strong class="text-style">{{ planet.orbital_period }}</strong>
        </li>
        <li class="list-style">
          Rotation Period:
          <strong class="text-style">{{ planet.rotation_period }}</strong>
        </li>
      </ul>
    </article>
  </section>
  <section
    class="py-8 min-h-[100vh] bg-gradient-to-r from-[#020024] to-[#9f0414] relative"
  >
    <h2 class="text-slate-300 text-5xl text-center">Residents</h2>
    <!-- Sorting -->
    <div class="px-4 max-w-6xl mx-auto">
      <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
          [(ngModel)]="sort"
          (selectionChange)="filteringGender(sort)"
          panelClass="sort-select"
        >
          <mat-option value="all">All</mat-option>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Display spinner loading -->
    <div
      *ngIf="loaderService.isLoading | async"
      class="flex w-full h-full justify-center items-center absolute"
    >
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <!-- List of residents is empty -->
    <h3
      *ngIf="!people.length"
      class="text-black text-center p-2 mt-20 bg-slate-300 w-full"
    >
      No residents have been identified.
    </h3>
    <!-- Content -->
    <div
      *ngIf="people.length !== 0"
      class="flex flex-wrap justify-center max-w-7xl mx-auto"
    >
      <ng-container *ngFor="let person of people">
        <article
          class="flex flex-col w-[280px] m-2 rounded-md bg-[#030024] border-2 border-yellow-500 text-slate-300"
        >
          <h3 class="text-yellow-500 text-center text-xl font-bold p-4">
            {{ person.name }}
          </h3>
          <div class="border-t-2 border-b-2 flex justify-center">
            <img
              *ngIf="person.gender === 'female'"
              src="assets/female.png"
              alt="female character"
            />
            <img
              *ngIf="person.gender === 'male'"
              src="assets/male.png"
              alt="male character"
            />
            <img
              *ngIf="person.gender !== 'male' && person.gender !== 'female'"
              src="assets/char.png"
              alt="character"
            />
          </div>
          <ul class="p-4 flex flex-col gap-2">
            <li class="list-style">
              Birth year:
              <strong class="text-style">{{ person.birth_year }}</strong>
            </li>
            <li class="list-style">
              Gender:
              <strong class="text-style">{{ person.gender }}</strong>
            </li>
            <li class="list-style">
              Height:
              <strong class="text-style">{{ person.height }}</strong>
            </li>
            <li class="list-style">
              Eye color:
              <strong class="text-style">{{ person.eye_color }}</strong>
            </li>
            <li class="list-style">
              Hair color:
              <strong class="text-style">{{ person.hair_color }}</strong>
            </li>
            <li class="list-style">
              Skin color:
              <strong class="text-style">{{ person.skin_color }}</strong>
            </li>
            <li class="list-style">
              Mass:
              <strong class="text-style">{{ person.mass }}</strong>
            </li>
          </ul>
        </article>
      </ng-container>
    </div>
  </section>
</div>
