<div
  *ngIf="loaderService.isLoading | async"
  class="flex w-full min-h-[100vh] justify-center items-center fixed z-50"
>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<section class="bg-starwars w-full min-h-[100vh] pt-20">
  <h1 class="text-center important text-5xl font-bold px-4 mb-4 text-slate-300">
    Star Wars Planets
  </h1>
  <app-global-error></app-global-error>
  <div class="flex flex-wrap justify-center max-w-7xl pb-4 mx-auto">
    <ng-container *ngFor="let planet of planets">
      <article
        (click)="openPlanetDetails(planet.url)"
        class="flex flex-col justify-between w-[280px] h-[330px] duration-200 hover:shadow-hoverSh shadow-redSh border-red-500 m-2 overflow-hidden rounded-md bg-[#030024] border cursor-pointer"
      >
        <h2 class="text-slate-300 text-center text-xl font-bold p-4 uppercase">
          {{ planet.name }}
        </h2>
        <img
          class="w-full h-[150px]"
          src="assets/planets/{{ planet.name }}.jpg"
          alt="{{ planet.name }}"
        />
        <div class="p-4">
          <p class="text-slate-300">Diameter: {{ planet.diameter }}</p>
          <p class="text-slate-300">Population: {{ planet.population }}</p>
        </div>
      </article>
    </ng-container>
  </div>
</section>
