@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #60a5fa;
}

.mat-form-field-infix {
  background-color: #ef4444;
  padding-left: 1rem;
}
